.InputButton-container{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:1em;
}

.InputButton-container Button{
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(128,128,128,0.75);
    min-width: 75px;
    width: 100px;
}